<!DOCTYPE html>
<!--
Template Name: Boguco
Author: <a href="http://www.os-templates.com/">OS Templates</a>
Author URI: http://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: http://www.os-templates.com/template-terms
-->
<html>
<head>
    <title>blog TDSI</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="{{ asset('template/layout/styles/layout.css') }}" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row0">
    <div id="topbar" class="hoc clear">
        <!-- ################################################################################################ -->
        <div class="fl_left">
            <ul class="nospace">
                <li><i class="fa fa-phone"></i> +00 (221) 77 258 61 31</li>
                <li><i class="fa fa-envelope-o"></i> blogtdsi@gmail.com</li>
            </ul>
        </div>
        <div class="fl_right">
            <ul class="nospace">
                <li><a href="#"><i class="fa fa-lg fa-home"></i></a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="{{ asset('login.html.twig') }}">Login</a></li>
                <li><a href="#">Register</a></li>
            </ul>
        </div>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->
<div class="bgded overlay" style="background-image:url('template/images/blog.jpg');">
    <!-- ################################################################################################ -->
    <div class="wrapper row1">
        <header id="header" class="hoc clear">
            <!-- ################################################################################################ -->
            <div id="logo" class="fl_left">
                <h1><a href="index.html">Blog tdsi</a></h1>
            </div>
            <nav id="mainav" class="fl_right">
                <ul class="clear">
                    <li class="drop"><a href="index.html">Home</a></li>
                    <li><a class="drop" href="#">Pages</a>
                        <ul>
                            <li><a href="pages/gallery.html">article</a></li>
                            <li><a href="pages/full-width.html">categories</a></li>
                            <li><a href="pages/sidebar-left.html">publication</a></li>

                        </ul>
                    </li>
                    <li><a class="drop" href="#">listes des articles</a>
                        <ul>
                            <li><a href="#"> mes articles</a></li>
                            <li><a class="drop" href="#">article publier</a>
                                <ul>
                                    <li><a href="#">mathematiques</a></li>
                                    <li><a href="#">reseaux</a></li>
                                    <li><a href="#">developpement</a></li>
                                </ul>
                            </li>
                            <li><a href="#">autres</a></li>
                        </ul>
                    </li>
                    <li><a href="#">about</a></li>
                    <li><a href="#"></a></li>
                </ul>
            </nav>
            <!-- ################################################################################################ -->
        </header>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
   <div class="jumbotron">
  <h1>Jumbotron</h1>
  <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <p><a class="btn btn-primary btn-lg">Learn more</a></p>
</div>
<!-- Footer Background Image Wrapper -->
<div class="bgded overlay" style="background-image:url('images/blog.jpg');">
    <!-- ################################################################################################ -->
    <div class="wrapper row4">
        <footer id="footer" class="hoc clear">
            <!-- ################################################################################################ -->
            <div class="btmspace-50 center">
                <h2 class="heading">contact blog tdsi</h2>
                <p>pour plus d'imformation vous pouvez nous contacter :</p>
            </div>
            <ul class="nospace group">
                <li class="one_quarter first">
                    <div class="infobox"><i class="fa fa-phone"></i>
                        <ul class="nospace">
                            <li>+00 (221) 77 258 61 31</li>
                            <li>+00 (221)70 526 18 21 </li>
                        </ul>
                    </div>
                </li>
                <li class="one_quarter">
                    <div class="infobox"><i class="fa fa-envelope-o"></i>
                        <ul class="nospace">
                            <li><a href="#">blogtdsi@gmail.com</a></li>
                            <li><a href="#">couls123@gmail.com</a></li>
                        </ul>
                    </div>
                </li>
                <li class="one_quarter">
                    <div class="infobox"><i class="fa fa-clock-o"></i>
                        <ul class="nospace">
                            <li>Mon - Fri: 9 to 5.00pm</li>
                            <li>Sat: 9 to 1.00pm</li>
                        </ul>
                    </div>
                </li>
                <li class="one_quarter">
                    <div class="infobox"><i class="fa fa-support"></i>
                        <ul class="nospace">
                            <li><a href="#">Online Support</a></li>
                            <li><a href="#">Live Chat</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            <!-- ################################################################################################ -->
        </footer>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <nav class="quicklinks row4">
        <ul class="hoc clear">
            <li><a href="#"><i class="fa fa-lg fa-home"></i></a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Shop</a></li>
        </ul>
    </nav>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row5">
        <div id="copyright" class="hoc clear">
            <!-- ################################################################################################ -->
            <p class="fl_left">blog tdsi<a href="#">Domain Name</a></p>
            <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">couls ibou</a></p>
            <!-- ################################################################################################ -->
        </div>
    </div>
    <!-- ################################################################################################ -->
</div>
<!-- End Footer Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="{{ asset('template/layout/scripts/jquery.min.js') }}"></script>
<script src="{{ asset('template/layout/scripts/jquery.backtotop.js') }}"></script>
<script src="{{ asset('template/layout/scripts/jquery.mobilemenu.js') }}"></script>
<script src="{{ asset('template/layout/scripts/jquery.flexslider-min.js') }}"></script>
</body>
</html>